<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Encaisser {{user.num}}</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <div>
        <label>Compte n°{{user.num}} : {{user.sold}} €</label>
    </div>
    <div>
        <form action="encaisserValid" method="POST">
            <input type="number" name="montant">
            <input type="hidden" name="num" value="{{user.num}}">
            <input type="submit" value="Valider">
        </form>
    </div>
</body>
</html>